body{
	margin: 0;
	background-color: #09152A;
	font-family: 'Orbitron', sans-serif;
	font-size: 60px;
	color: #AA56FF;
}
.modal{
	display: block;
  position: absolute;
  top: 260;
  left: 143;
}
#game-over{
  display: none;
  position: absolute;
  top: 260;
  left: 195;
  color: red;
}
#winner{
  display: none;
  position: absolute;
  top: 250;
  left: 65;
  color: green;
}
.scoreboard{
  height: 34px;
  position: absolute;
  top: 40;
  right: 0;
  font-size: 40px;
  border-bottom: 1px solid #AA56FF;
  border-left: 1px solid #AA56FF;
  display: none;
}
.life{
  height: 34px;
  position: absolute;
  top: 563;
  right: 0;
  font-size: 40px;
  border-bottom: 1px solid #AA56FF;
  border-left: 1px solid #AA56FF;
  display: none;
}
.enemy-invasion{
  height: 34px;
  position: absolute;
  top: 563;
  left: 0;
  font-size: 40px;
  border-bottom: 1px solid #AA56FF;
  border-right: 1px solid #AA56FF;
  display: none;
}
#h1-score{
	top: 0;
  position: absolute;
  right: 0;
  font-size: 20px;
  display: none;
}
#h1-life{
  top: 532;
  position: absolute;
  right: 0;
  font-size: 20px;
  display: none;
}
#h1-enemy{
  left: 0;
  top: 532;
  position: absolute;
  font-size: 20px;
  display: none;
}
#score{
	color: #AA56FF;
	position: relative;
	display: inline;
}
#life-points{
  color: #AA56FF;
  position: relative;
  display: inline;
}
#enemy-points{
  color: #AA56FF;
  position: relative;
  display: inline;
}
canvas{
	width: 800;
	height: 600;
	padding: 0;
  margin: auto;
  display: block;
  box-shadow: 1px 5px 20px #1B94FB;
}

.background{
  position:fixed;
  background: url('../imgs/gif1.gif');
  -webkit-animation:25s scroll infinite linear reverse;
  -moz-animation:25s scroll infinite linear reverse;
  -o-animation:25s scroll infinite linear reverse;
  -ms-animation:25s scroll infinite linear reverse;
  animation:25s scroll infinite linear reverse;
  margin: 0 auto;
  position: relative;
  height: 600px;
  width: 800px;
}

@-webkit-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

